/cmd/aipsetup5/aipsetup5
/cmd/aipinfoeditor/aipinfoeditor
/cmd/aipinfoeditor/infojson.tar.xz
/cmd/aipinfoeditor/infojson2.tar.xz
/tests
*.qtpl.go
*.glade~
/buildercollection/*.py
/cmd/aipinfoeditor/editors/netfilter
/cmd/aipinfoeditor/editors/gnome
/cmd/aipinfoeditor/se
